* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  color: #000000;
  text-decoration: none;
}

.slider {
  position: relative;
  min-height: 360px;
  min-width: 3072px;
  display: flex;
  animation-name: move-slides;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  position: absolute;
  font-size: 2rem;
  color: aliceblue;
  background-color: rgba(127, 255, 212, 0.4509803922);
}
.slider__image {
  min-height: 360px;
  width: 1024px;
  object-fit: cover;
  object-position: center center;
}
@keyframes move-slides {
  0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}

.card {
  background-color: rgba(163, 235, 90, 0.5058823529);
  color: #000000;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card--product {
  border: 4px solid #a3eb5a;
  width: 350px;
  height: 650px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card--product .card__media {
  max-width: 220px;
  max-height: 200px;
  margin-bottom: 1vh;
}
.card--product .card__media .card__image {
  max-width: 220px;
  max-height: 200px;
}
.card--product .card__info--container {
  width: 200px;
  height: 100%;
}
.card--product .card__info--container .card__info--title {
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
}
.card--product .card__info--container .card__info--details {
  height: 190px;
  font-size: 0.98em;
  font-weight: 600;
}
.card--product .card__info--container .card__info--details p {
  margin-top: 10px;
}
.card--product .card__price {
  width: 200px;
}
.card--product .card__addcart {
  height: 30px;
  width: 90px;
  margin-top: 2vh;
}
.card--product .card__addcart .button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.card--product .card__addcart .button--sm {
  width: 2rem;
  padding: 0.125rem;
  font-size: 1rem;
  font-weight: bold;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  background-color: #fbf5eb;
}

.footer {
  grid-area: footer;
  background-color: #a3eb5a;
  min-height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__socials {
  height: 100px;
  width: 300px;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer__socials p {
  font-size: 1.5em;
}
.footer__socials img {
  height: 30px;
}

.header {
  grid-area: header;
  background-color: #a3eb5a;
  min-height: 180px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header .header__banner-promo,
.header .header__title {
  min-height: 20px;
  max-height: 30px;
  font-size: 1.2em;
  background-color: #000000;
  color: #f0f8ff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__title {
  height: 45px;
  font-size: 2em;
}
.header .header__logo {
  min-height: 100px;
  margin-top: 3vh;
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo .banner__logo-img {
  margin-left: 1vw;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header .header__logo .cart {
  height: 80px;
  width: 80px;
  margin-right: 5vh;
}
.header .header__logo .cart img {
  height: inherit;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main {
  grid-area: main;
}
.main .section {
  width: 100%;
}
.main .section__slider {
  width: 1024px;
  overflow: hidden;
  margin-left: calc((100vw - 1024px) / 2);
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main .section__search {
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
}
.main .section__search h3 {
  width: 600px;
  margin-top: 3vh;
  border: 4px solid #a3eb5a;
  background-color: rgba(163, 235, 90, 0.5058823529);
  font-size: 1.8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main .section__search .search__form {
  height: 80px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main .section__search .search__form--input {
  display: flex;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: 1px solid gray;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  background-color: white;
}
.main .section__search .search__form--input #id-search-product {
  border: none;
  background-color: transparent;
  width: auto;
  outline: none;
  width: 100%;
  font-size: large;
}
.main .section__search .search__form .addproduct {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.2rem;
  border: 1px solid gray;
  width: fit-content;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main .section__products {
  height: 1400px;
  margin-left: calc((100% - 1900px) / 2);
  margin-right: calc((100% - 1900px) / 2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.navbar {
  height: 100px;
  width: 600px;
}
.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar__menu .navbar__li {
  height: 50px;
  width: 150px;
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.navbar__menu .navbar__li a:hover {
  color: #831dd7;
}
.navbar__menu .navbar__li a:active {
  color: #1dc7d7;
}
.navbar__menu .navbar__item--active {
  color: #4040ff;
  text-decoration: underline;
  font-weight: 600;
}

.main .section__us {
  width: 1024px;
  min-height: 1024px;
  margin-left: calc((100% - 1024px) / 2);
  margin-right: calc((100% - 1024px) / 2);
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 1vw;
  border: 1px solid #a3eb5a;
  background-color: rgba(163, 235, 90, 0.5058823529);
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.main .section__us .us--welcome,
.main .section__us .us--mission,
.main .section__us .us--joinus {
  padding: 20px;
}
.main .section__us .us--welcome img,
.main .section__us .us--mission img,
.main .section__us .us--joinus img {
  float: left;
  max-width: 250px;
}
.main .section__us .us--welcome p,
.main .section__us .us--mission p,
.main .section__us .us--joinus p {
  width: calc(100% - 300px);
  margin-left: 270px;
  font-size: 1.4em;
  line-height: 1.4em;
}
.main .section__us .us--history,
.main .section__us .us--values {
  padding: 20px;
}
.main .section__us .us--history img,
.main .section__us .us--values img {
  float: right;
  max-width: 300px;
}
.main .section__us .us--history p,
.main .section__us .us--values p {
  width: calc(100% - 350px);
  margin-right: 350px;
  font-size: 1.4em;
  line-height: 1.4em;
}

.section__contact {
  width: 700px;
  height: 1024px;
  margin-left: calc((100% - 700px) / 2);
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #a3eb5a;
  background-color: rgba(163, 235, 90, 0.5058823529);
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section__contact .contact__data {
  margin-bottom: 3vh;
}
.section__contact .contact__data .contact__networks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.section__contact .contact__data .contact__networks .contact__networks--item img {
  height: 30px;
}
.section__contact .section__form {
  margin-bottom: 3vh;
  width: calc(100% - 15vw);
  border: 1px solid black;
}/*# sourceMappingURL=main.css.map */