@use "../../../styles/scss/variables" as var;

//paso a clase 48 1:09

.navbar {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: .7rem .7rem 0 0;
    background-color: var.$colorBackgroundDark;
    box-shadow: 10px 1px 15px 1px #c251f6e6;

    &__drawer-icon {
        svg {
            fill: var.$colorBackgroundLight;
        }
    }

    &__items {
        a {
            font-size: .7rem;
            color: var.$colorFontDarker;
        }

        .active {
            color: var.$colorFontLight;
            text-shadow: 1px 1px 3px black;
        }
    }

    &__shopping-cart {
        &__icon-badge {
            svg {
                fill: var.$colorBackgroundLight;
            }

            span {
                background-color: var.$colorBackgroundDarker;
            }

        }
    }

    @media (max-width: 450px) {

        padding: .7rem .7rem 0 1rem;

        &__items {
            display: none;
        }
    }

    @media (min-width: 451px) {
        &__drawer-icon {
            display: none;
        }
    }
}

//Aqui cambiamos las opciones CSS de MUI
.MuiPaper-root {

    .MuiList-root {

        .MuiListItem-root{
            //con esta opción cambiamos el color al tocar una opción del menú del Drawer
            -webkit-tap-highlight-color:  var.$colorTapPurpleLight;

            .MuiButtonBase-root {

                .MuiListItemIcon-root {

                    //Aquí cambiamos el color de los iconos del Drawer
                    .MuiSvgIcon-root{
                        fill: var.$colorBackgroundDark;
                    }
                }
            }
        }
    }
}
