@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header{
    grid-area: header;

    background-color: var.$fondo_header;
    min-height: 180px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .header__banner-promo,
    .header__title{
        min-height: 20px;
        max-height: 30px;
        font-size: 1.2em;
        background-color: #000000;
        color: #f0f8ff;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .header__title{
        height: 45px;
        font-size: 2em;
    }

    .header__logo{
        min-height: 100px;
        margin-top: 2vh;
        margin-left: 3vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .banner__logo-img{
            margin-left: 1vw;
            height: 110px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .cart {
            height: 80px;
            width: 80px;
            margin-right: 5vh;

            img {
                height:inherit;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }

    }

}

@media (max-width: 720px) {
    .header {
        width: 100%;
        min-height: 135px;

        .header__banner-promo,
        .header__title {
            display: none;
        }
    }

    .section__slider {
        display: none;
    }

    .cart {
        display: none;
    }
}