@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header{
    grid-area: header;

    background-color: var.$fondo_header;
    min-height: 180px;
    border: 1px solid var.$black;

    .header__banner-promo,
    .header__title{
        min-height: 20px;
        max-height: 30px;
        font-size: 1.2em;
        background-color: #000000;
        color: #f0f8ff;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .header__title{
        height: 45px;
        font-size: 2em;
    }

    .header__logo{
        min-height: 120px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .banner__logo-img{
            margin-left: 1vw;
            height: 110px;
        }

    }

}