@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main {
    grid-area: main;

    .section{
        width: 100%;

        &--slider {
            width: 1024px;
            overflow: hidden;
            margin-left: calc((100vw - 1024px) / 2);
        }

        &--products {
            display: flex;
            flex-direction: column;
            gap: 1vw;
        }
    }
}