@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.navbar {
    height:100px;
    width: 600px;


    &__menu{

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .navbar__li {
            height: 50px;
            width: 150px;
            margin-top: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 2em;

            a:hover {
                color: var.$active;
            }

            a:active {
                color: var.$hover;
            }
        };

        .navbar__item--active {
            color: #4040ff;
            text-decoration: underline;
            font-weight: 600;
        }
    };

};