@use "../../../styles/scss/variables" as var;

.main {
    grid-area: main;
    height: max-content;
    width: var.$widthMain;
    padding: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}